<div>
    <div class="container">
        <header>
            <h3>Site Administration > Project Management</h3>
        </header>
        <table class="table table-bordered table-striped">
            <caption>Current Projects</caption>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
                <th>Project Picture</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projectList">
                <td>{{project.title}}</td>
                <td>{{project.description}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.endDate}}</td>
                <td>{{project.location.city}}</td>
                <td>{{project.location.state}}</td>
                <td>{{project.location.postalCode}}</td>
                <td>{{project.picture}}</td>
                <td><button class="btn" ng-click="redirectToModify(project._id)">Modify</button></td>
                <td><button class="btn" ng-click="deleteProject(project._id)">Delete</button></td>
            </tr>
            </tbody>
        </table>
        <button class="btn" ng-click="redirectToAdd()">Add Project</button>
    </div>
</div>